.f-bold {
  font: bold;
}
.d-none {
  display: none;
}

.user-select {
  margin-left: 10px;
  overflow: auto;
}
.balloon {
  display: none;
  padding: 5px 4px;
  min-width: 60px;
  max-width: 100%;
  color: #fff;
  font-size: 2px;
  background: #65ceee;
  border-radius: 4px;
  top: -34px;
  left: 0;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 100%;
  margin-left: 0px;
  border: 7px solid transparent;
  border-top: 7px solid #65ceee;
}

.balloon p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.skin:hover .balloon,
.prize:hover .balloon {
  display: inline-block;
}
.profileClass {
  z-index: 100;
  width: 100vw;
  height: 100%;
}

.profileWrapper {
  /* overflow: hidden; */
  width: 50%;
  height: 60%;
  min-width: 375px;
  min-height: 550px;
  background-color: #101010;
  border: 2px solid #59a6ff;
  border-radius: 13px;
  color: #888888;
  flex-direction: column;
}
.profile-detail {
  flex: 1;
  overflow: auto;
}

#ProfileName {
  margin-left: 20px;
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #fff;
}
.rato {
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
}

.waku {
  border-right: 1px solid #888888;
  width: 20%;
  height: 100%;
}
.score {
  justify-content: center;
  align-items: center;
}

.skins,
.prizes {
  height: 100%;
  display: grid;
  justify-content: center;

  grid-auto-rows: 100px;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-gap: 1% 1%;
}
.prize-image {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.locked-image {
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.skin,
.prize {
  border: 1px solid #888888;
  margin: 10px;
}
.skin:hover,
.prize:hover {
  outline: 3px solid #6cdfee;
}
.point-not-opened {
  width: 100%;
  height: 100%;
  background-color: #000000dd;
  left: 0;
  top: 0;
}

.nowSkin {
  outline: 3px solid #46f76c;
}

.body {
  width: 40%;
  height: 40%;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
}
.firearm {
  width: 10%;
  height: 40%;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}

.confirm {
  width: 30%;
  height: 17%;
  min-width: 331px;
  min-height: 175px;
  background-color: #101010;
  border: 2px solid #59a6ff;
  border-radius: 13px;
  color: #888888;
}
.have-point {
  margin-left: 10px;
}
.confirm-text {
  text-align: center;
}
