.d-flex {
  display: flex;
}
.flex-flow-col {
  flex-direction: column;
}
.pos-absolute {
  position: absolute;
}
.pos-relative {
  position: relative;
}

.overray {
  width: 100vw;
  height: 100%;
  background-color: #000000d7;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
}

.close {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #59a6ff;
  justify-content: center;
  align-items: center;
}

.fa-times {
  font-size: 2em;
}
.wrapFas2 {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: 0.2s;
  border-radius: 50%;
}
.wrapFas2:hover {
  background-color: #7db9f1a7;
}
.wrapFas {
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
}

p {
  color: #fff;
}

.settingname {
  margin-left: 20px;
  font-size: 1.6em;
  margin-bottom: 10px;
  color: #fff;
}
.setting {
  border: solid 1px #888888;
  font-size: 1.3em;
  margin-left: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}
.setting:hover {
  background-color: #2c2c2c;
  transition: 0.2s;
}
.settingcontent {
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  height: 63%;
  overflow-y: auto;
  border-top: double 2px #ffa500;
  border-bottom: double 2px #ffa500;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: 0 0 4px #aaa inset;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #1959a8;
}

#settingWrapper {
  flex-direction: column;
  width: 100%;
  margin: 10px;
}
.detailsetting {
  color: white;
  margin-bottom: 10px;
  align-items: center;
  width: 100%;
  background-color: #2c2c2c;
  justify-content: flex-end;
}
.settingText {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 1.3em;
  margin-right: auto;
}

.set {
  margin-right: 10px;
}
.toggle_switch {
  display: table;
  font-size: 60px;
}

.toggle_switch > input {
  display: none;
}

.toggle_switch > label {
  display: block;
  position: relative;
  width: 1em;
  height: 0.53em;
  /* border-radius: 1em; */
  background-color: #111113;
  cursor: pointer;
}
.toggle_switch > input:checked + label {
  background-color: #2dcb45;
  border: solid 2px rgb(100, 100, 100);
}
.toggle_switch > label::before {
  position: absolute;
  top: 0.05em;
  left: 0.05em;
  width: calc(0.5em - 0.1em);
  height: calc(0.5em - 0.1em);
  /* border-radius: calc(1em - 0.1em); */
  background-color: rgb(136, 136, 136);
  border: solid 1px white;
  transition: 0.2s;
  content: "";
}
.toggle_switch > input:checked + label::before {
  left: calc(100% - 0.5em + 0em);
}
.settingfont {
  font-family: "Dosis", sans-serif;
  font-size: 1.3em;
}
.keysetting {
  background: none;
}
.keysettingtext {
  background-color: #2c2c2c;
  width: 47%;
}
.key {
  width: 47%;
  background-color: #2c2c2c;
  padding-top: 5px;
  padding-bottom: 5px;
  /* padding-left: 5px; */
  font-size: 1.3em;
  justify-content: center;
  font-family: "Sawarabi Mincho", sans-serif;
  text-shadow: 4px 4px 4px #aaa;
  cursor: pointer;
}
.key:hover {
  outline: 2px solid #aaa;
}
@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}
.configure-border-1 {
  width: 30px;
  height: 30px;
  padding: 3px;
  justify-content: center;
  align-items: center;
  /* background: #fb5b53; */
  border: 3px solid #aaa;
  animation: configure-clockwise 2s ease-in-out 0s infinite;
}

.configure-border-2 {
  width: 30px;
  height: 30px;
  padding: 3px;
  left: -30px;
  justify-content: center;
  align-items: center;
  /* background: rgb(63, 249, 220); */
  border: 3px solid #aaa;
  transform: rotate(45deg);
  backdrop-filter: blur(6px);
  animation: configure-xclockwise 2s ease-in-out 0s infinite;
}

.okcancelarea {
  justify-content: flex-end;
  width: 100%;
  margin-top: auto;
}
.reset {
  margin-right: auto;
  margin-left: 40px;
}
.cancel {
  margin-right: 30px;
}
.settingUserButton {
  font-weight: bold;
  margin-bottom: 15px;
  /* border: 1px solid #aaa; */
  border-bottom: 3px solid rgba(82, 82, 82, 0.486);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 1.2em;
  background-color: black;
  position: relative;
  margin-top: 5px;
}
.settingUserButton:hover {
  background-color: #ffa60021;
  color: white;
  transition: 0.2s;
}
.ok {
  margin-right: 20px;
}
.underbar,
.underbar2 {
  height: 3px;
  width: 0%;
  background-color: rgba(243, 120, 48, 0.747);
  bottom: -3px;
  left: 50%;
  transition: 0.2s;
}

.settingUserButton:hover > .underbar {
  width: 50%;
}
.settingUserButton:hover > .underbar2 {
  width: 50%;
  left: 0%;
}
