body{
    text-align: center;
}
canvas{
    width: 500px;
    height: 550px;
    border: thin white solid;
    background-color: black;
}
table{
    width: 200px;
    margin-right:auto; margin-left:auto; 
}
div{
    display: inline-block;
    text-align: left;
}
span{
    display: block;

}