body {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
canvas {
  width: 500px;
  height: 550px;
  border: thin white solid;
  background-color: black;
}
table {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}
div {
  display: inline-block;
  text-align: left;
}
span {
  display: block;
}

.component {
  width: 100vw;
}
.login_field {
  display: flex;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  align-items: center;
  background-color: #101010;
  padding-top: 10px;
  padding-left: 10px;
}
#wrappedNewR {
  border: 2px solid #000000;

  margin-right: 10px;
}
#newR {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
#wrappedNewR:hover {
  background-color: black;
}
#loginButton,
#logoutButton {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
#loginButton:hover,
#logoutButton:hover {
  text-decoration: underline;
}
#logoutButton {
  margin-left: auto;
  padding-right: 10px;
}

.regist_form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
}
.form {
  border: 1px solid #777777;

  border-radius: 5px;
  font-size: 1.7em;
  margin-bottom: 30px;
  width: 100%;
}
.form:focus {
  outline: none;
  border: 2px solid #62b0fa;
  border-radius: 5px;
}
.formWrap {
  width: 40%;
  max-width: 300px;
}

#register {
  font-size: 1em;
  /* border: 2px,solid #; */
  background-color: #548ac9;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}

#regsiterText {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #888888;
}
