<div id=settingWrapper>
    <div class=detailsetting id=damageon>
        <div class=settingText>ダメージ表記</div>
        <div class="toggle_switch set">
            <input type="checkbox" name="xxx" id="cb_toggle_switch">
            <label for="cb_toggle_switch"></label>
        </div>
        
    </div>
    <div class=detailsetting id=number>
        <div class=settingText>視界近似本数(非推奨)</div>
        <div id="num" class="settingfont">0</div><span class="settingfont">%</span>
        <input class=set id=viewnum type="range" min="1" max="100" step="1">
    </div>
</div>
