<div class="d-flex" id="settingWrapper">
  <div class="d-flex detailsetting" id="damageon">
    <div class="settingText">ダメージ表記</div>
    <div class="toggle_switch set">
      <input type="checkbox" id="showDamage" />
      <label for="showDamage"></label>
    </div>
  </div>
  <div class="d-flex detailsetting" id="number">
    <div class="settingText">FPS表示</div>
    <div class="toggle_switch set">
      <input type="checkbox" id="showFps" />
      <label for="showFps"></label>
    </div>
  </div>
</div>
