<html>

<head>
    <title>げえむ</title>
</head>

<body>
    {% block loginInfo %}{% endblock %}


    <canvas id="canvas" width="500" height="550"></canvas>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script src="static/js/scriptGame.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/styleGame.css">
    <table align="center">
        <caption>
            <h2>操作方法</h3>
        </caption>
        <tr>
            <th scope="row">矢印キー</th>
            <td>移動</td>
        </tr>
        <tr>
            <th scope="row">Space</th>
            <td>ショット</td>
        </tr>
        <tr>
            <th scope="row">Space長押し</th>
            <td>チャージショット</td>
        </tr>
        <tr>
            <th scope="row">A</th>
            <td>銃砲回転(反時計回り)</td>
        </tr>
        <tr>
            <th scope="row">D</th>
            <td>銃砲回転(時計回り)</td>
        </tr>
        <tr>
            <th scope="row">Z</th>
            <td>アイテム使用</td>
        </tr>
    </table>
    <hr>
   
</body>

</html>