<div id=settingWrapper>
    <div class="detailsetting keysetting">
        <div class="settingText keysettingtext">上移動</div>
        <div id=upkey class="key" onclick="changeKey(this);"></div>
    </div>
    <div class="detailsetting keysetting" >
        <div class="settingText keysettingtext">下移動</div>
        <div id=downkey class="key" onclick="changeKey(this);"></div>
    </div>
    <div class="detailsetting keysetting" >
        <div class="settingText keysettingtext">右移動</div>
        <div id=rightkey class="key" onclick="changeKey(this);"></div>
    </div>
    <div class="detailsetting keysetting" >
        <div class="settingText keysettingtext">左移動</div>
        <div id=leftkey class="key" onclick="changeKey(this);"></div>
    </div>
    <div class="detailsetting keysetting" >
        <div class="settingText keysettingtext">攻撃</div>
        <div id=firekey class="key" onclick="changeKey(this);"></div>
    </div>
    <div class="detailsetting keysetting" >
        <div class="settingText keysettingtext">銃砲右回り回転</div>
        <div id=rightarmrkey class="key" onclick="changeKey(this);"></div>
    </div>
    <div class="detailsetting keysetting" >
        <div class="settingText keysettingtext">銃砲左回り回転</div>
        <div id=leftarmrkey class="key" onclick="changeKey(this);"></div>
    </div>
    <div class="detailsetting keysetting" >
        <div class="settingText keysettingtext">アイテム使用</div>
        <div id=useitemkey class="key" onclick="changeKey(this);"></div>
    </div>
</div>
