<div class="d-flex" id="settingWrapper">
  <div class="d-flex detailsetting keysetting">
    <div class="settingText keysettingtext">上移動</div>
    <div id="upkey" class="d-flex key" "></div>
  </div>
  <div class="d-flex detailsetting keysetting">
    <div class="settingText keysettingtext">下移動</div>
    <div id="downkey" class="d-flex key" "></div>
  </div>
  <div class="d-flex detailsetting keysetting">
    <div class="settingText keysettingtext">右移動</div>
    <div id="rightkey" class="d-flex key" "></div>
  </div>
  <div class="d-flex detailsetting keysetting">
    <div class="settingText keysettingtext">左移動</div>
    <div id="leftkey" class="d-flex key" "></div>
  </div>
  <div class="d-flex detailsetting keysetting">
    <div class="settingText keysettingtext">攻撃</div>
    <div id="firekey" class="d-flex key" "></div>
  </div>
  <div class="d-flex detailsetting keysetting">
    <div class="settingText keysettingtext">銃砲右回り回転</div>
    <div id="rightarmrkey" class="d-flex key" ></div>
  </div>
  <div class="d-flex detailsetting keysetting">
    <div class="settingText keysettingtext">銃砲左回り回転</div>
    <div id="leftarmrkey" class="d-flex key" ></div>
  </div>
  <div class="d-flex detailsetting keysetting">
    <div class="settingText keysettingtext">アイテム使用</div>
    <div id="useitemkey" class="d-flex key" ></div>
  </div>
</div>
