<div class=profileClass onclick="deleteProfile()" id=Profile>
    <div class="overray">
        <div class="profileWrapper" onclick="event.cancelBubble=true">
            <div id="close">
                <div class=wrapFas >
                    <div class=wrapFas2 onclick="deleteProfile()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div id="ProfileName">
                {{username}}
            </div>
            <div id="rato">
                <div class="waku">
                    勝率
                    <div class="point">{{win_rato}}%</div>
                </div>
                <div class="waku">
                    勝ち
                    <div class="point">{{win}}</div>
                </div>
                <div class="waku">
                    負け
                    <div class="point">{{lose}}</div>
                </div>
                <div class="waku">
                    連勝
                    <div class="point">{{cv}}</div>
                </div>
            </div>
        </div>
    </div>
</div>