<div class=profileClass onclick="this.remove();" id=Profile>
    <div class="overray">
        <div class="profileWrapper" onclick="event.cancelBubble=true">
            <div id="close">
                <div class=wrapFas >
                    <div class=wrapFas2 onclick="deleteProfile()">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="settingname">
                オプション/<div id="settingname"></div>
            </div>
            <div id=settinglist>
                <div class=setting id=0 onclick="changesetting(this)">ゲーム設定</div>
                <div class=setting id=1 onclick="changesetting(this)">キー設定</div>
            </div>
            <div id=settingcontent class=settingcontent>
            </div>
            <div class="okcancelarea">
                <div class="button settingUserButton reset">
                    初期設定
                    <div class="underbar"></div>
                    <div class="underbar2"></div>
                </div>
                <div class="button settingUserButton ok" onclick="updateSetting()">
                    確定
                    <div class="underbar"></div>
                    <div class="underbar2"></div>
                </div>
                <div class="button settingUserButton cancel" onclick="deleteProfile()">
                    キャンセル
                    <div class="underbar"></div>
                    <div class="underbar2"></div>
                </div>
            </div>
        </div>
    </div>
</div>